<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>MySitek</title>

        <!-- Bootstrap core CSS -->
        <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">

        <!-- Add custom CSS here -->
        <link href="/apps/templates/sb_admin/css/sb-admin.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

        <!-- Page Specific CSS -->
        <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">

        {% block media %}
        {% endblock %}

    </head>

    <body>

        {% block menu %}

            <ul>
                {% for item in app.modules_front %}
                    <li {% if app.selected == item.lien %}class="active"{% endif %}><a href="/{{ item.lien }}"><i class="{{ item.icon }}"></i> {{ item.name | title}}</a></li>
                    {% endfor %} 
            </ul>
        {% endblock %}


        {% block content %}
        {% endblock %}



        <!-- JavaScript -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <!-- Page Specific Plugins -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
        <script src="/apps/templates/sb_admin/js/morris/chart-data-morris.js"></script>
        <script src="/apps/templates/sb_admin/js/tablesorter/jquery.tablesorter.js"></script>
        <script src="/apps/templates/sb_admin/js/tablesorter/tables.js"></script>

    </body>
</html>
