{% extends "param.twig" %}

{% block css %}
    <link href="/apps/modules/admin/seo/templates/css/module.css" rel="stylesheet">
{% endblock %}



{% block contentparam %}  
    <p>Module SEO</p>
{% endblock %}

{% block js %}
{% endblock %}