{% extends "param.twig" %}

{% block css %}
    <link href="/apps/modules/admin/social/templates/css/module.css" rel="stylesheet">
{% endblock %}



{% block contentparam %}  
    <p>Module Social</p>
{% endblock %}

{% block js %}
{% endblock %}