{% extends "layout.twig" %}


{% block css %}
    <link href="/apps/modules/accueil/templates/css/module.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <form class="form-horizontal" id="description_form" name="description_form" action="/admin/accueil/description_form" method="post">

        <input type="hidden" name="csrf" value="{{ app.user_id }}"> 
        
        <textarea class="ckeditor" name="description">
            {{ description }}
        </textarea>
        <br />
        <button id="save" name="save" class="btn btn-sm btn-primary">
            <i id="loadfond" class="fa fa-spinner fa-spin" style="display: none;"></i>
            <i id="iconfond" class="fa fa-check"></i> Valider
        </button>
        
</div>

</form>
{% endblock %}

{% block js %}
    <script src="/lib/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">

        valiSend('description_form');

    </script>
{% endblock %}