{% extends "param.twig" %}


{% block css %}
    <link href="/apps/modules/admin/parametres/modules/compte/templates/css/module.css" rel="stylesheet">
{% endblock %}


{% block contentparam %}      
    <div class="row">
        <div class="col-md-3 col-lg-3 " align="center"> 
            {% for item in app.modules %}
                {% if app.selected == item.lien %} <br><i class="{{ item.icon }} fa-5x"></i> {% endif %}
            {% endfor %}
        </div>

        <div class=" col-md-9 col-lg-9 "> 
            <form class="form-horizontal" id="compte" name="compte" action="/admin/parametres/compte/" method="post">
                <table class="table table-user-information">
                    <tbody>

                        <tr>
                            <td><label class=" control-label" for="usr_name">Nom du responsable :</label></td>
                            <td><input id="user_name" name="user_name" maxlength="25" type="text" class="form-control input-md" value="{{app.user_name}}"></td>
                        </tr>

                        <tr>
                            <td><label class=" control-label" for="usr_name">Prénom du responsable :</label></td>
                            <td><input id="user_firstName" name="user_firstName" maxlength="25" type="text" class="form-control input-md" value="{{app.user_firstName}}"></td>
                        </tr>

                        <tr>
                            <td><label class=" control-label" for="usr_name">Mail :</label></td>
                            <td><input id="user_mail" name="user_mail" maxlength="25" type="text" class="form-control input-md" value="{{app.user_mail}}"></td>
                        </tr>

                    </tbody>
                </table>
                <div class="text-center"> 
                    <button id="save" name="save" type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Enregistrer les modifications</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <br><br>
        <div class="col-md-3 col-lg-3 " align="center"> 
            <br><i class="fa fa-lock fa-5x"></i>
        </div>

        <div class=" col-md-9 col-lg-9 "> 
            <form class="form-horizontal" id="compte" name="password" action="/admin/parametres/compte/" method="post">
                <table class="table table-user-information">
                    <tbody>

                        <tr>
                            <td><label class=" control-label" for="old_pwd">Ancien mot de passe :</label></td>
                            <td><input id="old_pwd" name="old_pwd" maxlength="25" type="password" class="form-control input-md"></td>
                        </tr>

                        <tr>
                            <td><label class=" control-label" for="new_pwd">Nouveau mot de passe :</label></td>
                            <td><input id="new_pwd" name="unew_pwd" maxlength="25" type="password" class="form-control input-md"></td>
                        </tr>

                        <tr>
                            <td><label class=" control-label" for="new_pwd2">Nouveau mot de passe :</label></td>
                            <td><input id="new_pwd2" name="new_pwd2" maxlength="25" type="password" class="form-control input-md"></td>
                        </tr>

                    </tbody>
                </table>
                <div class="text-center"> 
                    <button id="save" name="save" type="submit" class="btn btn-primary"><i class="fa fa-key"></i> Enregistrer le mot de passe</button>
                </div>
                <br>
            </form>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            // Lorsque je soumets le formulaire
            $('#compte').on('submit', function(e) {
                e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire

                var $this = $(this); // L'objet jQuery du formulaire

                // Je récupère les valeurs
                var user_name = $('#user_name').val();
                var user_firstName = $('#user_firstName').val();
                var user_mail = $('#user_mail').val();

                // Je vérifie une première fois pour ne pas lancer la requête HTTP
                // si je sais que mon PHP renverra une erreur
                if (user_name === '' || user_firstName === '' || user_mail === '') {
                    Notif('<p>Les champs doivent êtres remplis</p>', 5000);
                } else {
                    // Envoi de la requête HTTP en mode asynchrone
                    $.ajax({
                        url: $this.attr('action'), // Le nom du fichier indiqué dans le formulaire
                        type: $this.attr('method'), // La méthode indiquée dans le formulaire (get ou post)
                        data: $this.serialize(), // Je sérialise les données (j'envoie toutes les valeurs présentes dans le formulaire)
                        dataType: 'json', // JSON
                        success: function(json) { // Je récupère la réponse du fichier PHP
                            Notif(json.response, 5000); // J'affiche cette réponse
                        }
                    });
                }
            });
        });
    </script>

{% endblock %}