{% extends "param.twig" %}


{% block css %}
    <link href="/apps/modules/admin/parametres/modules/compte/templates/css/module.css" rel="stylesheet">
{% endblock %}


{% block contentparam %}      
    <div class="row">
        <div class="col-md-3 col-lg-3 " align="center"> 
            {% for item in app.modules %}
                {% if app.selected == item.lien %} <br><i class="{{ item.icon }} fa-5x"></i> {% endif %}
            {% endfor %}
        </div>

        <div class=" col-md-9 col-lg-9 "> 
            <form class="form-horizontal" id="compte" name="compte" action="/admin/parametres/compte/" method="post">
                <table class="table table-user-information">
                    <tbody>

                        <tr>
                            <td><label class=" control-label" for="usr_name">Nom du responsable :</label></td>
                            <td><input id="user_name" name="user_name" maxlength="70" size="45" type="text" class="form-control input-md" value="{{app.user_name}}" data-validation="required"></td>
                        </tr>

                        <tr>
                            <td><label class=" control-label" for="usr_name">Prénom du responsable :</label></td>
                            <td><input id="user_firstName" name="user_firstName" maxlength="70" size="45" type="text" class="form-control input-md" value="{{app.user_firstName}}" data-validation="required"></td>
                        </tr>

                        <tr>
                            <td><label class=" control-label" for="usr_name">Mail :</label></td>
                            <td><input id="user_mail" name="user_mail" maxlength="255" size="45" type="text" class="form-control input-md" value="{{app.user_mail}}" data-validation="email" data-validation="required"></td>
                        </tr>

                    </tbody>
                </table>
                <div class="text-center"> 
                    <button id="save" name="save" type="submit" class="btn btn-primary">
                        <i id="loadcompte" class="fa fa-spinner fa-spin" style="display: none;"></i>
                        <i id="iconcompte" class="fa fa-floppy-o" ></i> Enregistrer les modifications
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <br><br>
        <div class="col-md-3 col-lg-3 " align="center"> 
            <br><i class="fa fa-lock fa-5x"></i>
        </div>

        <div class=" col-md-9 col-lg-9 "> 
            <form class="form-horizontal" id="password" name="password" action="/admin/parametres/compte/" method="post">
                <table class="table table-user-information">
                    <tbody>

                        <tr>
                            <td><label class=" control-label" for="old_pwd">Ancien mot de passe :</label></td>
                            <td><input id="old_pwd" name="old_pwd" maxlength="70" size="42" type="password" class="form-control input-md" data-validation="required"></td>
                        </tr>

                        <tr>
                            <td><label class=" control-label" for="new_pwd">Nouveau mot de passe :</label></td>
                            <td><input id="new_pwd" name="pass_confirmation" maxlength="70" size="42" type="password" class="form-control input-md" data-validation="strength" data-validation-strength="1"></td>
                        </tr>

                        <tr>
                            <td><label class=" control-label" for="new_pwd2">Nouveau mot de passe :</label></td>
                            <td><input id="new_pwd2" name="pass" maxlength="70" size="42" type="password" class="form-control input-md" data-validation="confirmation"></td>
                        </tr>

                    </tbody>
                </table>

                <div class="text-center">                      
                    <button id="save" name="save" type="submit" class="btn btn-primary">
                        <i id="loadcompte" class="fa fa-spinner fa-spin" style="display: none;"></i>
                        <i id="iconcompte" class="fa fa-key"></i> Enregistrer le mot de passe
                    </button>
                </div>
                <br>
            </form>
        </div>
    </div>

{% endblock %}

{% block js %}    
    <script type="text/javascript">

        valiSend('compte');
        valiSend('password');

    </script>

{% endblock %}