{% extends "layout.twig" %}


{% block media %}
    <link href="/apps/modules/parametres/templates/css/module.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <p>
        {{ hello }}
    </p>
{% endblock %}
