{% extends "layout.twig" %}


{% block css %}
    <link href="/apps/modules/admin/maj/templates/css/module.css" rel="stylesheet">
{% endblock %}


{% block content %}

    <div class="row col-md-12  custyle">
        <table id="table-1" class="table table-striped sorted_table custab">

            <thead>
            <a href="#" class="btn btn-primary pull-right"><i class="fa fa-download"></i> Tout mettre à jour</a>
            <tr>
                <th>Rang</th>
                <th>Nom</th>
                <th>Version</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>

                {% for item in app.modules %}
                    <tr id="{{ item.rang }}">
                        <td class="dragHandle"><i class="fa fa-bars"></i></td>
                        <td><i class="{{ item.icon }}"></i> {{ item.name | title}}</td>
                        <td>{{ item.version }}</td>
                        <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}

    <script src="/apps/modules/admin/maj/lib/jquery.tablednd.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $('#table-1').tableDnD({
                onDrop: function(table, row) {
                },
                
                dragHandle: ".dragHandle"
            });

        });
        $("#table-1 tr").hover(function() {
      $(this.cells[0]).addClass('showDragHandle');
}, function() {
      $(this.cells[0]).removeClass('showDragHandle');
});
    </script>

{% endblock %}