{% extends "layout.twig" %}

{% block media %}
<link href="/apps/modules/dashboard/templates/css/dashboard.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <p>
   ezbckjln {{ hello }}
    </p>
{% endblock %}
