{% extends "layout.twig" %}


{% block css %}
    <link href="/apps/modules/default/templates/css/module.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <p>
        {{ hello }}
    </p>
{% endblock %}

{% block js %}
{% endblock %}