{% extends "layout.twig" %}


{% block media %}
    <link href="/apps/modules/default/templates/css/template.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <p>
        {{ hello }}
    </p>
{% endblock %}
