{% extends "layout.twig" %}


{% block css %}
    <link href="/apps/modules/prestations/templates/css/module.css" rel="stylesheet">
{% endblock %}


{% block content %}
    
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <p id="content">
                {{ hello }}
            </p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <img src="http://placehold.it/400x300" alt="Image" class="img-responsive">
        </div>
    </div>

{% endblock %}

{% block js %}

{% endblock %}
