.fond {
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.fond_selected {
    border:2px solid #3576BE;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}