<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="../vendor/autoload.php"
         strict="true"
         timeoutForSmallTests="1"
         timeoutForMediumTests="5"
         timeoutForLargeTests="10"
>
    
    <testsuites>
        <testsuite name="MySitek Testing">
            <directory>./</directory> 
        </testsuite>
    </testsuites>
    
    <listeners>
        <listener file="listeners/TimeListener.php" class="TimeListener"/>
    </listeners>
    
</phpunit>