{% extends "param.twig" %}


{% block css %}
    <link href="/apps/modules/admin/parametres/modules/theme/templates/css/module.css" rel="stylesheet">
{% endblock %}


{% block contentparam %}      
    <p>Module Theme</p>
    <!-- 
    
    choix bg
    
    upload sommaire bg ++
    
    renomage logo
    
    upload sommaire logo ++
  
    Choix couleur (trio de couleur)
   
    upload favicon ++ 
    
    
    -->
    {{ dossier | raw }}
    
{% endblock %}

{% block js %}
{% endblock %}