{% extends "param.twig" %}


{% block css %}
    <link href="/apps/modules/admin/parametres/modules/compte/templates/css/module.css" rel="stylesheet">
{% endblock %}


{% block contentparam %}      
    <p>Module Theme</p>
{% endblock %}

{% block js %}
{% endblock %}