{% extends "layout.twig" %}

{% block media %}
<link href="/apps/modules/idees/templates/css/idees.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
          <div class="thumbnail row">
            <img src="//www.apercite.fr/api/apercite/320x240/yes/http%3A%2F%2Fwww.facebook.com"  alt="Miniature par Apercite.fr" style="width: 250px; height: 140px;" /> 
            <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                </div>
        </div>

    </div>
    <div class="col-md-4">
          <div class="thumbnail row">
            <img src="//www.apercite.fr/api/apercite/320x240/yes/http%3A%2F%2Fwww.facebook.com"  alt="Miniature par Apercite.fr" style="width: 250px; height: 140px;" /> 
            <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                <p><a href="#" class="btn btn-success btn-xs" role="button">OK</a> <a href="#" class="btn btn-danger btn-xs" role="button">NOK</a></p>
            </div>
        </div>

          <div class="thumbnail row">
            <img src="//www.apercite.fr/api/apercite/320x240/yes/http%3A%2F%2Fwww.facebook.com"  alt="Miniature par Apercite.fr" style="width: 250px; height: 140px;" /> 
            <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                <p><a href="#" class="btn btn-success btn-xs" role="button">OK</a> <a href="#" class="btn btn-danger btn-xs" role="button">NOK</a></p>
            </div>
        </div>

    </div>
     <div class="col-md-4">
          <div class="thumbnail row">
            <img src="//www.apercite.fr/api/apercite/320x240/yes/http%3A%2F%2Fwww.facebook.com"  alt="Miniature par Apercite.fr" style="width: 250px; height: 140px;" /> 
            <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                 </div>
        </div>

    
          <div class="thumbnail row">
            <img src="//www.apercite.fr/api/apercite/320x240/yes/http%3A%2F%2Fwww.facebook.com"  alt="Miniature par Apercite.fr" style="width: 250px; height: 140px;" /> 
            <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                 </div>
        </div>

    </div>
</div>

{% endblock %}