RewriteEngine on

RewriteCond %{HTTP_HOST} ^api.mysitek.com$
RewriteCond %{REQUEST_URI} !^/modulestore/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /modulestore/$1

RewriteCond %{HTTP_HOST} ^api.mysitek.com$
RewriteRule ^(/)?$ modulestore/index.php [L]